.box-red {
  background-color: red;
  height: 50px;
  width: 50px;
}
.circle-green {
  background-color: green;
  height: 50px;
  width: 50px;
  border-radius: 50px;
}
.yes-no {
  background-attachment: fixed;
}
